.post-page {
    width: 100%; // Largeur du main

    img {
        width: 70%; // Pour rendre les images dans les article flexible
    }

    .title-post {
        text-align: center;
        font-size: 3rem;

    }

    p {
        line-height: 20px;
    }



}